.posts-content {
    max-width: 600px;
    margin: 10px auto;
}

textarea {
    width: 100%;
}

.button-reply {
    text-align: right;
}

.margin-top-20px {
    margin-top: 20px;
}

.list-group-item nav li{
    font-size: 0.9em;
}

.back-button {
    margin-bottom: 10px;
}

.side-bar {
    position: relative;
    margin-bottom: 10px;
    text-align: right;
}

.logged-user {
    font-weight: bolder;
    color: #4ed34e;
}

.menu-option {
    font-weight: bolder;
    color: grey;
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0;
}

.menu-option i {
    font-size: 0.8em;
    color: black;
}

.post-content {
    vertical-align: middle;
    background-color: #efefef;
    border-radius: 3px;
    padding: 10px;
}

.geolocation::before {
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 5px;
    content: "\f124";
}

.temperature::before {
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 5px; 
    content: "\f2c9";
}

.temperature::after { 
    content: "°C";
}