<section class="posts-content">

  <nav class="side-bar">
  <div class="btn-group">
  <button type="button" class="btn btn-success"><i class="fa fa-comments" aria-hidden="true"></i> Discussions</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">

    <li class="sidebar-brand">
        <p class="menu-option"><i class="fa fa-bars" aria-hidden="true"></i> Options</p>
    </li>

    <li class="sidebar-brand">
        <a routerLink="/discussions" skipLocationChange>Logout</a>
    </li>

    <li class="sidebar-brand">
        <p class="menu-option"><i class="fa fa-user-o" aria-hidden="true"></i> Users</p>
    </li>
    <li class="sidebar-brand">
        <a href="javascript:void(0)" class="logged-user" (click)="changeUser(loggedUser)">{{ loggedUser.name }}</a>
    </li>

    <li *ngFor="let u of users" class="sidebar-brand">
        <a href="javascript:void(0)" (click)="changeUser(u)" *ngIf="u.email != loggedUser.email">{{ u.name }}</a>
    </li>
  </ul>
  </div>
</nav>

  <ul class="list-group">
    <li *ngIf="!postSuperior && user == loggedUser" class="list-group-item list-group-item-action flex-column align-items-start">
      <div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" rows="5" id="comment" [(ngModel)]="commentContent"></textarea>
        </div>
        <p class="button-reply">
          <button class="btn btn-primary btn-sm" (click)="reply(commentContent, null)">POST</button>
        </p>
      </div>
    </li>
    <li *ngFor="let post of userPosts" class="list-group-item list-group-item-action flex-column align-items-start" [style.active]="userPosts.length == 1">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">
          {{post.id.user.name}}
          <small class="pull-right">{{formatDate(post.id.dateTime)}}</small>
        </h4>
        
      </div>
      <p class="mb-1 post-content">{{post.content}}</p>
      <small *ngIf="post.location">{{post.location.adress}}</small>
      <small class="geolocation" *ngIf="post.location">
          {{truncate(post.location.latitude)}}, {{truncate(post.location.longitude)}}
      </small>
      <small class="temperature" *ngIf="post.currentTemperature != null">{{post.currentTemperature}}</small>
      
      <a href="javascript:void(0)" (click)="getResponses(post, false)" class="badge badge-default badge-pill">
        {{post.responseAmount}}
      </a>
      <br>

      <nav>
        <ul class="list-inline">
          <li *ngIf="!post.reply"><a href="javascript:void(0)" (click)="initReply(post)">Reply</a></li>
          <li><a href="javascript:void(0)" *ngIf="deleteAllowed(post.id)" (click)="deletePost(post.id)">Delete</a></li>
        </ul>
      </nav>

      <div *ngIf="post.reply">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" rows="5" id="comment" [(ngModel)]="post.replyContent"></textarea>
        </div>
        <p class="button-reply">
          <button class="btn btn-success btn-xs" (click)="reply(post.replyContent, post)">Reply</button>
          <button class="btn btn-danger btn-xs" (click)="cancelReply(post)">Cancel</button>
        </p>
      </div>

      <ul class="list-group margin-top-20px">
          <button class="btn btn-primary btn-xs back-button" (click)="back()" *ngIf="postSuperior"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
          <li *ngFor="let response of post.responses" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">
                {{response.id.user.name}}
                <small class="pull-right">{{formatDate(response.id.dateTime)}}</small>
              </h4>
              
            </div>
            <p class="mb-1 post-content">{{response.content}}</p>
            <small *ngIf="response.location">{{response.location.adress}}</small>
            <small class="geolocation" *ngIf="response.location != null">{{truncate(response.location.latitude)}}, {{truncate(response.location.longitude)}}</small>
            <small class="temperature" *ngIf="response.currentTemperature != null">{{response.currentTemperature}}</small>

            <a href="javascript:void(0)" (click)="getResponses(response, false)" class="badge badge-default badge-pill">
              {{response.responseAmount}}
            </a>

            <nav>
              <ul class="list-inline">
                <li *ngIf="!response.reply"><a href="javascript:void(0)" (click)="initReply(response)">Reply</a></li>
                <li><a href="javascript:void(0)" *ngIf="deleteAllowed(response.id)" (click)="deletePost(response.id)">Delete</a></li>
              </ul>
            </nav>

            <div *ngIf="response.reply">
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment" [(ngModel)]="response.replyContent"></textarea>
              </div>
              <p class="button-reply">
                <button class="btn btn-success btn-xs" (click)="reply(response.replyContent, response)">Reply</button>
                <button class="btn btn-danger btn-xs" (click)="cancelReply(response)">Cancel</button>
              </p>
            </div>
          </li>
      </ul>
    </li>
  </ul>
</section>