.posts-content {
    max-width: 600px;
    margin: 10px;
}

textarea {
    width: 100%;
}

.button-reply {
    text-align: right;
}

.margin-top-20px {
    margin-top: 20px;
}

.list-group-item nav li{
    font-size: 0.9em;
}

.back-button {
    margin-bottom: 10px;
}